
/*buttons*/
#dropDownButton
{
  margin-top: 20px;
}
.container_buttons
{
  @include clearfix;
  margin: 0 20px;
}
.customSize {
  width: 120px !important;
}


/*NavBar */
#logo
{
  filter: invert(100%);
}
.navbar-toggle span
{
  text-align: right;
}



/*Else*/

p
{
  text-align: justify;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container_title
{
  text-align: center;
}

iframe
{
 margin-bottom: 30px;
}

/*input filter*/
#form-ard
{
  width: 70px !important;
}

.ardIn{
  display: inline-block;
  text-align: right;
}

.bold{
  font-weight:  bold;
}


@media (max-width: 767px) {

  .canvasContainer{

  }
}

@media (min-width: 767px){
  .canvasContainer
  {
    width: 400px;
    height: 400px;
    margin: auto;
  }

}

pre{
  margin: auto;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;

}