<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cycle à Paris</title>
	<link rel="icon" href="favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="css/material_switch.css">
	<link rel="stylesheet" type="text/css" href="css/radio_buttons2.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="js/map.js"></script>

</head>



<body ng-app="mapApp">

	<!--NavBar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<a href="index.html" class="navbar-brand" id="logo"><img src="ressources/pictures/logo/logo2mini.png" </a>
				<a class="navbar-brand" href="index.html" >Cycle à Paris</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right" id="center">
					<li class="hidden active"><a href="#page-top"></a></li>
					<li  class="page-scroll"><a href="index.html">Accueil</a></li>
					<li class=" active page-scroll"> <a href="map.html">Carte</a></li>
					<li class="page-scroll"><a href="stats.html">Statistiques</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="row">
		<div class="col-lg-2"></div>

		<div class="col-lg-8">
			<div class="container_title" >
				<h1>Les Voies Cyclables à Paris</h1>
				<br>
				<p>Cette carte recense toutes les pistes cyclables présentes à Paris.</p>
				<p>Elle permet aussi de rechercher certains types de pistes cyclables par rapport à leurs vitesses mais aussi par rapport à leurs emplacements dans les différents arrondissements.</p>
				<p>En activant le zoom et le déplacement de la carte, vous pouvez vous faire une idée claire sur l'endroit des pistes cyclables.</p>

			</div>
		</div>
		<div class="col-lg-2"></div>

	</div>


	<br ></br>


	<!-- Map Integration -->

	<div class="row" ng-controller="switchButtons">
		<div class="col-md-3">

			<!-- Default panel contents -->
			<div class="panel-heading" text-align="center"> <span class="bold">Réglages</span> </div>

			<!-- List group -->
			<ul class="list-group clearfix">
				<li class="list-group-item">
					Autoriser Zoom et Déplacement
					<div class="material-switch pull-right">
						<input id="someSwitchOptionDefault" type="checkbox" ng-click="enableZoom()"/>
						<label for="someSwitchOptionDefault" class="label-primary"></label>
					</div>
				</li>
				<li class="list-group-item">
					Afficher Filtres de Vitesse
					<div class="material-switch pull-right">
						<input id="someSwitchOptionPrimary"  type="checkbox" ng-model="displaySpeedFilter" ng-click="manageFilters()"/>
						<label for="someSwitchOptionPrimary" class="label-primary"></label>
					</div>
				</li>
				<li class="list-group-item">
					Arrondissement: 
					<input id="form-ard" class="form-control ardIn" name="ard" type="number" min="1" max="20" ng-minlength="1" ng-maxlength="20" ng-model="ard">
					<button type="button" class="btn btn-default ardIn" ng-click="resetArd()">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					</button>
				</li>
			</ul>

			<form id="form" class="form-inline hidden-xs">

			</form>



		</div>

		<div class="col-md-6" >
			
			<iframe id="frameMap" src="https://opendata.paris.fr/explore/embed/dataset/reseau-cyclable/map/?disjunctive.arrdt&disjunctive.statut&disjunctive.typologie&disjunctive.sens_velo&location=12,48.86042,2.35348&static=true&datasetcard=false" width="100%"" height="400" frameborder="0"></iframe>

		</div>

		<div class="col-md-3" >

			<form ng-if="displaySpeedFilter">
				Filtrer par type de voie:
				<div class="funkyradio">
					<div class="funkyradio-primary">
						<input type="checkbox"  id="checkbox0" ng-click="setFilter(50)" />
						<label for="checkbox0">Voie 50</label>
					</div>
					<div class="funkyradio-primary">
						<input type="checkbox"  id="checkbox1" ng-click="setFilter(30)" />
						<label for="checkbox1">Voie 30</label>
					</div>
					<div class="funkyradio-primary">
						<input type="checkbox"  id="checkbox2" ng-click="setFilter(15)"/>
						<label for="checkbox2">Voie 15</label>
					</div>
					<div class="funkyradio-primary">
						<input type="checkbox"  id="checkbox3" ng-click="setFilterPedestrian()" />
						<label for="checkbox3">Aire piétonne</label>
					</div>

				</div>
			</form>

			
		</div>




	</body>
	</html>
