<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cycle à Paris</title>
	<link rel="icon" href="favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>


	<script type="text/javascript" src="js/stats.js"></script>


</head>

<body ng-app="statsApp">


	<!--NavBar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<a href="index.html" class="navbar-brand" id="logo"><img src="ressources/pictures/logo/logo2mini.png"</a>
				<a class="navbar-brand" href="index.html" >Cycle à Paris</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right" id="center">
					<li class="hidden active"><a href="#page-top"></a></li>
					<li  class="page-scroll"><a href="index.html">Accueil</a></li>
					<li class="page-scroll"> <a href="map.html">Carte</a></li>
					<li class="active page-scroll"><a href="stats.html">Statistiques</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container_title" ng-controller="ctrChart">
		<div class="row">
			<div class="col-lg-2">
				<div class="row">
					<aside class="col-sm-3 hidden-xs" >

						<div ng_init="getItems()" ng-model="items">


						</div>

						

						

					</aside>
				</div>
			</div>





			<section class="col-lg-8">

				<h1>Les Voies Cyclables à Paris</h1>


				<p>This is some text.</p> 



				

				<div>

					<div class="btn-group" >
						<label ng-repeat="filter in filters" class="btn btn-primary active">
							<input type="radio" name="options" id="option1" ng-model="radio.value" ng-value="filter[1]" >{{filter[1]}} 
						</label>

					</div>

					<pre>{{radio.value}}</pre>
				</div>




				<div class="panel-group" id="accordion">



					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									Collapsible Group 1</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.
								</div>
								<div class="canvasContainer" >
									<canvas id="line" class="chart chart-line" chart-data="data"
									chart-labels="labels" chart-series="series" chart-options="options"
									chart-dataset-override="datasetOverride" chart-click="onClick">
								</canvas>

							</div>


						</div>
					</div>



					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
									Collapsible Group 2</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
									minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
									commodo consequat.</div>
									<div class="canvasContainer">
										<canvas id="pie" class="chart chart-pie"
										chart-data="dataPie" chart-labels="labelsPie" chart-options="optionsPie">
									</canvas> 
								</div>



							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
										Collapsible Group 3</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse">
									<div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
										minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
										commodo consequat.</div>
									</div>
								</div>
							</div>



						</section>
						<div class="col-md-3" >



						</div>
					</div>
				</div>
			</a>
		</div>
	</div>

</body>
</html>